html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

nav {
  color: white;
  font-weight: bolder;
}

nav div a {
  margin-right: 50px;
  color: white;
  font-weight: bold;
  font-size-adjust: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 2500;
  background: -webkit-gradient(linear, left top, left bottom, from(#bdc3c7), to(#2c3e50));
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-inline a:hover {
  color: lightblue;
}


body {
  background-color: black;
  margin: 30px;
  line-height: 1.4;
}

.btn {
  background: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.top-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: 'showcase showcase top-box-a'
 'showcase showcase top-box-b';
}

.showcase {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: showcase;
  min-height: 400px;
  background: url(../programming.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #fff;
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #fff;
}

.top-box {
  background: #ddd;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-box-a;
}

.top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: top-box-b;
}

.boxes {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes .box {
  margin-top: 2rem;
  background: #ddd;
  text-align: center;
  padding: 2rem 2rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*media*/
@media (max-width: 700px) {
  .top-container {
        grid-template-areas: 'showcase showcase'
 'top-box-a top-box-b';
  }
  .showcase {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: showcase;
    min-height: 400px;
    background: url(../programming.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
            box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  .showcase h1 {
    font-size: 2.5rem;
  }
  .top-box-a {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: top-box-a;
  }
  .top-box-b {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: top-box-b;
  }
}
/*# sourceMappingURL=style.css.map */